<div class="custom-media d-flex">
  <div class="img mr-4">
    <img src="assets/images/img_3.jpg" alt="Image" class="img-fluid" />
  </div>
  <div class="text">
    <span class="meta"></span>
    <p>Team name :</p>
    <h3 class="mb-4">
      {{ teamInput.name }}
    </h3>
    <p>Team foundation :</p>
    <h3>
      {{ teamInput.fondation }}
    </h3>
    <p>Staduim :</p>
    <h3>
      {{ teamInput.staduim }}
    </h3>
    <p>Team owner :</p>
    <h3>
      {{ teamInput.owner }}
    </h3>
    <p><a href="#">Read more</a></p>
  </div>
</div>
